@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  /* background: #151515 url('../images/shidoni.jpg') no-repeat fixed left bottom; */
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  background-color: #333;
}
*, *::before, *::after {
  box-sizing: border-box;
}
**::before,*::after {
  box-sizing: inherit;
}
*{
  margin: 0;
}
p{
  font-size: 20px;
}





/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  color: #fff;
}
.heading1{
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  color: black;
}
/* .heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #fff;
} */
.heading1::before,
.heading1::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
}
.heading::before {
  bottom: 5px;
}
.heading1::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.9;
}
.button-showy {
  background-color: #D29E04;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}


/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 130px 30px 120px;
}
.site-title-sub {
  margin: 0 0 50px;
  letter-spacing: 1px;
  font-size: 3.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 50px;
  font-size: 7.6rem;
}
.site-description {
  margin-bottom: 50px;
  color: #fff;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 10px;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: #333;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
}


/* --------------------------------
 * works
 * -------------------------------- */
.works {
  padding: 0 0;
  background-color: #383634;
}
.works-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.work-box {
  position: relative;
  display: table-cell;
}
.work-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}
.work-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.work-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.work-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.work-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
.work-box.tree::after {
  background-image: url('../images/research.png');
}
.work-box.building::after {
  background-image: url('../images/interview1.png');
}
.work-box.lake::after {
  background-image: url('../images/interview2.png');
}
.work-box.sky::after {
  background-image: url('../images/charenge.png');
}
.work-box:nth-child(odd) .work-image {
  margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
  top: 0;
}




/* --------------------------------
 * work1
 * -------------------------------- */
.work1{
  padding: 50px 0;
  background-color: #fff;
  color: #000;
}
.work12-wrapper{
  display: flex;
}
.work-1{
  flex-grow: 1;
  width: 50%;
}
.work1-img{
  width: 70%;
}
.work-p{
  font-size: 40px;
  margin: 20px;
}
.work-pp{
  word-wrap: break-word;
  width: 50%;
  margin: 5% 25%;
}
/* --------------------------------
 * work2
 * -------------------------------- */
.work-2{
  flex-grow: 1;
  width: 50%;
}
.work2-img{
  width: 70%;
}
.work-p-p{
  word-wrap: break-word;
  width: 50%;
  margin: 5% 25%;
}
/* --------------------------------
 * work3
 * -------------------------------- */
.work34-wrapper{
  display: flex;
}
.work-3{
  flex-grow: 1;
  width: 50%;
}
.work3-img{
  width: 70%;
}
/* --------------------------------
 * work4
 * -------------------------------- */
.work-4{
  flex-grow: 1;
  width: 50%;
}
.work4-img{
  width: 70%;;
}




/* --------------------------------
 * hobby
 * -------------------------------- */
.hobbys {
  padding: 80 0;
  background-color: #383634;
}
.hobbys-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.hobby-box {
  position: relative;
  display: table-cell;
}
.hobby-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}
.hobby-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.hobby-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.hobby-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.hobby-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.hobby-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
.hobby-box.tree::after {
  background-image: url('../images/basket.png');
}
.hobby-box.building::after {
  background-image: url('../images/programming.png');
}
.hobby-box.lake::after {
  background-image: url('../images/workout.png');
}
.hobby-box.sky::after {
  background-image: url('../images/meditation.png');
}
.hobby-box:nth-child(odd) .hobby-image {
  margin: 60% 0 0;
}
.hobby-box:nth-child(odd) .hobby-description,
.hobby-box:nth-child(odd)::after {
  top: 0;
}

/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}
.skills-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
}
.skill-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}
.skill-text {
  margin: 0 20px;
  line-height: 2;
}


/* --------------------------------
 * motto
 * -------------------------------- */
.motto {
  padding: 30px 0 50px;
  background-color: #333;
}
.motto-style{
  font-family: "Yu Mincho",'游明朝';
  font-size: 50px;
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
  background-color: black;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }

  /* --- header --- */
  .header {
    padding-top: 60px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }

  /* --- hobby --- */
  .hobbys-wrapper,
  .hobby-box {
    display: block;
  }
  .hobby-image {
    display: none;
  }
  .hobby-description {
    position: relative;
  }
  .hobby-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }
  .hobby-description-inner {
    display: table;
    width: 100%;
    height: 100%;
    padding: 70px;
  }

  /* --- works --- */
  .works-wrapper,
  .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-description-inner {
    display: table;
    width: 100%;
    height: 100%;
    padding: 65px;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }
  /* --- work1234 --- */
  .work1,
  .work12-wrapper,
  .work34-wrapper{
    display: block;
  }
  .work-1,
  .work-2,
  .work-3,
  .work-4{
    width: 100%;
  }
  .work1-img,
  .work2-img,
  .work3-img,
  .work4-img{
    width: 100%;
    margin: 0 auto;
  }

  .work-pp,
  .work-p-p{
    width: 60%;
    margin: 0;
    margin-left: 20%;
  }


  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
  }

  /* --- contact --- */
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
}





/* --------------------------------
 * challenge
 *
 * 31行目からの.heading::before, .heading::afterの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: 0 0.5em;
  border: 1px solid;
  vertical-align: 0.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.work-box {
  overflow: hidden;
}
.work-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.work-box:hover .work-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.hobby-box {
  overflow: hidden;
}
.hobby-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.hobby-box:nth-child(odd) .hobby-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.hobby-box:nth-child(even) .hobby-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.hobby-box:hover .hobby-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

